*
{
    font-family: "Helvetica",  "Arial Narrow Bold", sans-serif;pwd
}

h1, h2, h3, h4, h5, h6
{
    font-weight: 650;
}

h1  
{
    background-color: rgb(250, 174, 60);
}

img
{
    width: 500px;
    height: auto;
}

li
{
    padding: 10px;
    margin: 10px;
}
.home
{
    text-align: center;
    margin: 10px 0 auto;
}